In [1]:
# 此映像檔套件位置
import os, sys, sysconfig
site_packages_path=(sysconfig.get_paths()["purelib"])
dirname=os.path.dirname(site_packages_path)
python_basename=os.path.basename(dirname)
# 更換PIP安裝位置
if "SINGULARITY_NAME" in os.environ:
  #kernel_name = os.path.basename(sys.executable.replace("/bin/python",""))
  kernel_name = os.environ['SINGULARITY_NAME']
  #os.environ['PYTHONUSERBASE']=os.environ['HOME']+'/.slurm_jupyter/pip_'+kernel_name
  os.environ['PYTHONUSERBASE']='/work/'+os.path.basename(os.environ['HOME'])+'/my_container/.package_'+kernel_name+'/envs/'+kernel_name
# 新增 Binarry 位置
Add_Binarry_Path=os.environ['PYTHONUSERBASE']+'/bin'
os.environ['PATH']=Add_Binarry_Path+":"+os.environ['PATH']
# 更換library位置
sys_path_add=os.environ['PYTHONUSERBASE']+'/lib/'+python_basename+'/site-packages'
if sys_path_add in sys.path:
  print("not add")
else:
  sys.path.insert(0, sys_path_add)
# 更換排序
sys.path = sorted(sys.path, key=lambda x: x.startswith(site_packages_path), reverse=True)
sys.path = sorted(sys.path, key=lambda x: x.startswith(sys_path_add), reverse=True)

os.environ['XDG_CONFIG_HOME']=os.environ['HOME']
# 印出結果
print(os.environ['PYTHONUSERBASE'])
print(os.environ['PATH'])
print(sys.path)

/work/c00cjz00wsi/my_container/.package_picrust2.sif/envs/picrust2.sif
/work/c00cjz00wsi/my_container/.package_picrust2.sif/envs/picrust2.sif/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
['/work/c00cjz00wsi/my_container/.package_picrust2.sif/envs/picrust2.sif/lib/python3.9/site-packages', '/work/c00cjz002/share/miniconda3/lib/python3.9/site-packages', '/work/c00cjz002/share/miniconda3/lib/python3.9/site-packages/IPython/extensions', '/home/c00cjz00wsi/class/qiime2', '/work/c00cjz002/share/miniconda3/lib/python39.zip', '/work/c00cjz002/share/miniconda3/lib/python3.9', '/work/c00cjz002/share/miniconda3/lib/python3.9/lib-dynload', '', '/home/c00cjz00wsi/.ipython']

In [2]:
%cd ~/class/qiime2/output
!picrust2_pipeline.py \
  -s dna-sequences.fasta \
  -i feature-table.biom \
  -o picrust2_out_pipeline \
  -p 12

/home/c00cjz00wsi/class/qiime2/output
Warning - 30 input sequences aligned poorly to reference sequences (--min_align option specified a minimum proportion of 0.8 aligning to reference sequences). These input sequences will not be placed and will be excluded from downstream steps.

This is the set of poorly aligned input sequences to be excluded: 8ec05512c8c6b5c2af1f53fccd4c1ae8, d4abeebed9d7994d3fc9e5514029d419, c0fa377eb1d94e9ce3897f1d3052d2f9, 12e76bc08104a84658cdc8ab9b8f2e53, 668122fc619247629f9f81ff86f118b6, 41cc9d9dc069720a463b2d90894b8264, 321c709659afea1ae11de906bd39f044, 29486e2479ac17043c7ff171dd9f7754, 05ba73a22c6aaea45f1945a80f1c905e, 72d586f2d241ce861ffc0fbcc5cb9ab1, 479254d9ef8ac414ec86cb53a72e1eac, 1fc1a993dc9ecefdb3bed55de0f3c0df, 57e15482725e8b3f8e32fe266a133dad, 91a7b4ecd06f7c58af9f7495e4d95c46, b228e20616a0a4c9165abf62df11eea5, 1bccf36c80a705185a2bfd33900e917f, fa4b665feb57bf0f07e379c147fe8497, 38d8a32ebd53ed2a523d45d314b4a582, 16bd64e32f416d09a92160d48ec69b7c, 5037f282454aff0ef61408e43dc87947, 22e4f929f4d54faaa4c6608b3a77df53, 83b8af91225806e27b77ca6268182509, dc5bdeaf80d0689436b363709599a175, 64bb9a42bfb2e8556a8c07eb5e2373a0, 9aafd735a598021ce8dc122bb33a519c, 771ee9fa55ce13c9e380a59be4e766ee, d67a732550c7f6ac2234888932618bf7, 3df5973daad32dbefd5aff2660eeb4ff, 7cd7535a332e27df82f37c39215026ee, 5fc549169735c26180de0664286384cc





2 of 732 ASVs were above the max NSTI cut-off of 2.0 and were removed from the downstream analyses.

2 of 732 ASVs were above the max NSTI cut-off of 2.0 and were removed from the downstream analyses.

In [3]:
%cd ~/class/qiime2/output/picrust2_out_pipeline 
!add_descriptions.py \
  -i EC_metagenome_out/pred_metagenome_unstrat.tsv.gz \
  -m EC \
  -o EC_metagenome_out/pred_metagenome_unstrat_descrip.tsv.gz

/home/c00cjz00wsi/class/qiime2/output/picrust2_out_pipeline

In [4]:
%cd ~/class/qiime2/output/picrust2_out_pipeline 
!add_descriptions.py \
-i KO_metagenome_out/pred_metagenome_unstrat.tsv.gz \
-m KO \
-o KO_metagenome_out/pred_metagenome_unstrat_descrip.tsv.gz

/home/c00cjz00wsi/class/qiime2/output/picrust2_out_pipeline

In [5]:
%cd ~/class/qiime2/output/picrust2_out_pipeline 
!add_descriptions.py \
  -i pathways_out/path_abun_unstrat.tsv.gz \
  -m METACYC \
  -o pathways_out/path_abun_unstrat_descrip.tsv.gz

/home/c00cjz00wsi/class/qiime2/output/picrust2_out_pipeline

## STAMP

In [6]:
%cd ~/class/qiime2
!gunzip output/picrust2_out_pipeline/EC_metagenome_out/pred_metagenome_unstrat_descrip.tsv.gz

/home/c00cjz00wsi/class/qiime2

In [7]:
%cd ~/class/qiime2
# Import pandas
import pandas as pd
# Read TSV file into DataFrame
df = pd.read_table('output/picrust2_out_pipeline/EC_metagenome_out/pred_metagenome_unstrat_descrip.tsv')

/home/c00cjz00wsi/class/qiime2

In [8]:
df

,function,description,SRR6498087,SRR6498088,SRR6498089,SRR6498090,SRR6498091,SRR6498092
0,EC:1.1.1.1,Alcohol dehydrogenase,25499.72,23304.39,38119.36,27583.34,11871.01,28665.11
1,EC:1.1.1.100,3-oxoacyl-[acyl-carrier-protein] reductase,55064.96,29808.16,72553.15,55875.85,31739.76,52378.45
2,EC:1.1.1.103,L-threonine 3-dehydrogenase,2070.46,2776.68,1715.39,2612.13,577.80,1436.76
3,EC:1.1.1.105,All-trans-retinol dehydrogenase (NAD(+)),0.00,0.00,0.00,106.00,0.00,0.00
4,EC:1.1.1.108,Carnitine 3-dehydrogenase,273.00,67.00,105.00,2167.40,386.20,84.00
...,...,...,...,...,...,...,...,...
2099,EC:6.5.1.5,RNA 3'-terminal-phosphate cyclase (GTP),57.00,0.00,0.00,0.00,0.00,61.00
2100,EC:6.5.1.6,DNA ligase (ATP or NAD(+)),112.43,106.00,16.00,4316.44,153.00,606.00
2101,EC:6.5.1.7,"DNA ligase (ATP, ADP or GTP)",112.43,106.00,16.00,4316.44,153.00,606.00
2102,EC:6.6.1.1,Magnesium chelatase,1559.00,80.66,2568.66,4378.69,1562.20,1510.00
2103,EC:6.6.1.2,Cobaltochelatase,3411.47,171.68,1163.83,13613.77,12319.69,5845.95

In [9]:
df = df.drop('function', axis=1)

In [10]:
df

,description,SRR6498087,SRR6498088,SRR6498089,SRR6498090,SRR6498091,SRR6498092
0,Alcohol dehydrogenase,25499.72,23304.39,38119.36,27583.34,11871.01,28665.11
1,3-oxoacyl-[acyl-carrier-protein] reductase,55064.96,29808.16,72553.15,55875.85,31739.76,52378.45
2,L-threonine 3-dehydrogenase,2070.46,2776.68,1715.39,2612.13,577.80,1436.76
3,All-trans-retinol dehydrogenase (NAD(+)),0.00,0.00,0.00,106.00,0.00,0.00
4,Carnitine 3-dehydrogenase,273.00,67.00,105.00,2167.40,386.20,84.00
...,...,...,...,...,...,...,...
2099,RNA 3'-terminal-phosphate cyclase (GTP),57.00,0.00,0.00,0.00,0.00,61.00
2100,DNA ligase (ATP or NAD(+)),112.43,106.00,16.00,4316.44,153.00,606.00
2101,"DNA ligase (ATP, ADP or GTP)",112.43,106.00,16.00,4316.44,153.00,606.00
2102,Magnesium chelatase,1559.00,80.66,2568.66,4378.69,1562.20,1510.00
2103,Cobaltochelatase,3411.47,171.68,1163.83,13613.77,12319.69,5845.95

In [11]:
%cd ~/class/qiime2
df.to_csv('output/picrust2_out_pipeline/EC_metagenome_out/pred_metagenome_unstrat_descrip_fix.tsv', sep="\t",index=False)

/home/c00cjz00wsi/class/qiime2